@media screen and (max-width: 1000px){
    .menu-options{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    } 
    #welcome-text{
        font-size:8px;
    }
    #title-area{
        grid-template-columns: 1fr;
        /* align-items: center;
        text-align: center;
        justify-content: center; */
    }
    #title{
        padding-left: 0%;
        padding-top: 0%;
    }
    #title-sub{
        padding-left: 0%;
    }
    /* Escap Logo */
    #escap-logo{
        padding: 0%;
    }
    /* Footer */
    .footer-bar{
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 1%;
    }
    
}
@media screen and (max-width: 800px){
    #index-content{
        grid-template-columns: 1fr;
    }
}