html{
    height: 100%;
}
body{
    width: 100%;
    margin: 0%;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.padder{
    padding: 3%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: skyblue;
}
/* Center items class style */
.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Welcome to the UN */
#welcome-text{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(139, 139, 139);
    font-size: small;
    height: 12px;
    align-items: center;
    text-align: center;
}
#blue-line{
    background:#009edb;
    width: 100%;
    height: 3px;
}

/* background image styles */
#bg-img-img {
    width: 100%;
    min-height: auto;
    position: absolute;
    top: 0%;
    opacity: 100%;
    z-index: -1;

    /* Parallax Scrolling */
    height: auto;
    
}
/* Menu */
#menu{
    background-image: url("https://miro.medium.com/max/4000/1*CFmdigYyZxGZ362nyvwU9g.png");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Menu options */
.menu-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
} 
.menu-options div{
    /* border: solid 1px black; */
    background-repeat:no-repeat;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about-us{
    background-color: rgb(63, 63, 63);
    padding: 2%;
    opacity: 60%;
}
.menu-options-image {
    width: 15%;
}
.menu-options-text{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}

.about-us:hover {
    background-color: #111314;
    transition: ease-in;
    transition-duration: .2s;
    opacity: 100%;  
}
.about-us:hover h5{
    color:rgb(33, 146, 245);
}


/* Title Area */
#title-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#title{
    padding-left: 10%;
    padding-top: 3%;
    font-size:xx-large;
    color: azure;
}
#title-sub{
    padding-left: 10%;
    padding-bottom: 3%;
    font-size:x-large;
    color: azure;
}
/* Escap Logo */
#escap-logo-logo{
    width: 200px;
    opacity: 60%;
    padding-bottom: 10%;
    padding-top: 10%;
}

/* main content area */
#index-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    background-image: url("./Resources/Main-content-bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.index-cont-sub{
    border: grey solid 1px;
    margin: 5%;
    border-radius: 4%;
    overflow: hidden;
    /* background-color: khaki; */
}
.main-cont-img{
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 4%;
}
#visible{
    position: relative;
    top: -105.5%;
    color: azure;
    background-color: #151421;
    height: 110%;
    text-align: center;
    justify-self:center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 4%;
}
.index-cont-sub:hover #visible {
    opacity: .9;
    transition: 0.3s ease-in-out ;
}
.visible-cont{
    position: absolute;
    padding-top: 10%;   
}
.visible-cont-more{
    position: absolute;
    padding-top: 60%;
    padding-left: 80%;
    color: rgb(253, 253, 255);
}
.footer-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1%;
    background-color:  rgb(139, 139, 139);
    padding: 1%;

}
